body {
    margin: 0px;
}

a {
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    color:rgb(224, 224, 224);
    filter: drop-shadow(1px 1px 10px  #121817);
}

h1 {
    margin: 0%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 42px;
    color: #233130;
    text-align: center;
}

h2 {
    margin: auto;
    text-align: center;
    color:#523d35;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-style: dotted;
    border-width: 10px;
    border-top: 0;
    border-color: #523d35;
    margin-inline-start: 42%;
    margin-inline-end: 42%;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/***************************************/

/*NAV*/

nav {
    background-color: #233130;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 10px; 
    display: flex;
    justify-content: right;
}

nav a {
    padding: 5px 5px;
    
    border-style: solid;
    border-radius: 25px;
    margin-right: 15px;
    
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: small;
    text-decoration: none;
}

nav a:hover {
    box-shadow: rgb(44, 43, 43) 0px 2px 8px 0px;
    color:rgb(224, 224, 224);
    
} 

/*FOOTER*/

footer {
    padding: 2px 0px;
    background-color: #233130;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: center;
}

footer a {
    padding: 5px 13px;
    
    border-radius: 25px;
    color: white;
    font-size: small;
    text-decoration: none;
}

footer a:hover {
    box-shadow: rgb(44, 43, 43) 0px 1px 2px 0px;
    color:rgb(224, 224, 224);
}

/***************************************/

/*SPLASH*/

.splash {
    padding: 0px 0px 350px 0px;
    background-color: #edefe9;
    text-align: center;
    color:#233130;
    position: relative;
}

.splash h1 {
    padding-top: 270px;
}
.splash h2 {
    padding-bottom: 0;
}

.laptopimage {
    position: absolute;
    top: 50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px
}

.dinoborder {
    display:flex;
    justify-content: space-between;
    width:90%;
    position:absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, 0%);

}

.leaf1 {
    position: absolute;
    width: 100px;
    left: 10px;
    top: 10px;
}

.leaf2 {
    position: absolute;
    width: 100px;
    right: 10px;
    top: 10px;
}


/***************************************/

/*MAIN*/

.info {
    text-align: center;
}

.portrait {
    margin-top:50px;
    margin-bottom:15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.three-col {
    margin: 30px 2.5%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-content: center;
    justify-items: center;
    row-gap: 100rem;
    margin-bottom: 100px;
}

.card {
    align-content: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
    height: 100%;
    max-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    text-align: left;
    margin-left: 5px;
    margin-right: 7.5px;
    background-color: white;
}

.card h3 {
    text-align: center;
    color:#523d35;
    font-size: 20px;
    margin: 0;
    
}

.card a {
    color: #85937D;
}

.card img {
    width: 100%;
    border-radius: 10px;
    padding: 0;
}

.languages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills dt {
    text-align: right;
    width:65%;
}

.skills dd {
    text-align: center;
    margin-left:auto;
    width:35%;
}

.experience {
    display: flex;
    flex-wrap: wrap;
}

.experience dt {
    text-align: left;
}

.experience dd {
    width: 70%;
    text-align: center;
}

/* CONTACT PAGE */

.contact-info {
    background-color: #edefe9;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.one-col {
    margin: 30px 2.5%;
    display:grid;
    grid-template-columns: 1fr; 
    align-content: center;
    justify-items: center;
    row-gap: 100rem;
    margin-bottom: 100px;
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #f8f8f8;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #f8f8f8;
  }

  input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
  }